@tailwind base;
@tailwind components;
@tailwind utilities;

/* ZEN MODDERS HEADER animation */
.container
{
  display: block;
  text-align: center;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  width: fit-content;

}
.container1
{
  display: block;
}
.container span
{
  display: block;
}
.text1
{
  font-size: 2rem;
  font-family: 'Cormorant', serif;
  font-weight: 900;
  /* margin-bottom: 5px; */
  letter-spacing: 8px;
  position: relative;
  animation: text 2.5s 1;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}
.text2
{
  font-size: 1rem;
  font-family: 'Cormorant', serif;
  font-weight: 500;
  color: #ffffff;
}

@keyframes text
{
   0%
   {
     color: black;
     margin-bottom: -1.2rem;
   }
   30%
   {
     letter-spacing: 25px;
      margin-bottom: -1.2rem;
   }
   85%
   {
     letter-spacing: 8px;
      margin-bottom: -1.2rem;
   }
}


/* ?Donation Page */
.donowrapper{
	position: absolute;
	
	width: 100%;
	height: 100vh;
	z-index: 5;
	background-color: rgb(0, 0, 0);
  }
  
  /* ?PayArea Code */
  .payArea{
	background-color: rgb(0, 0, 0);
  }
  
  /* ?paymentmenu properties */
  .paymentmenu {
	
  }
  
/* ?Cliped background text */
.bgclip{
	background-image: linear-gradient(45deg, #e82d3b, #ee7752, #fda851);
	background-size: 200% 200%;
	/* animation: gradient 5s ease infinite; */
	background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   
  }

  

/* ? cause card */
/* ?donation card */
.cardview{
	color: white;
	padding: 8px;
	background: linear-gradient(25deg, rgba(253,168,81,1) 0%, rgb(255, 64, 77,1) 32%, rgba(97,105,160,1) 81%, rgba(21, 139, 198, 1) 90%, rgba(0, 213, 255, 1) 100%);
	background-size: 200% 200%;
  }
  



/* ?Css For animation in button*/
.bganimation {
	background: linear-gradient(-45deg, #E82D3B ,#ee7752,  #FDA851);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* //?footer design */
.footer{
  background: linear-gradient(25deg, rgba(253,168,81,1) 0%, rgb(255, 64, 77,1) 32%, rgba(97,105,160,1) 81%, rgba(21, 139, 198, 1) 90%, rgba(0, 213, 255, 1) 100%);
  background-size: 200% 200%;
	animation: gradient 5s ease infinite;
}


/* ?button animation */
.buttonanim{
  background:  linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(185, 185, 185) 45%, rgba(255,255,255,1) 100%);
   background-size: 400% 400%;
   animation: gradient 5s ease infinite;
  }



